.header-container {
    text-align: center;
    margin-bottom: 1.5rem; /* Más espacio inferior */
}

.header-title {
    font-size: 1.875rem; /* Text-3xl */
    font-weight: bold;
    color: #1f2937; /* Gris oscuro */
    margin-bottom: 1rem; /* Espacio entre el nombre y los datos */
}

.header-links {
    display: flex;
    flex-direction: column; /* Organización vertical en mobile */
    gap: 0.5rem; /* Espaciado entre elementos */
    font-size: 1rem; /* Aumentar tamaño de fuente */
    color: #374151; /* Gris medio */
}

.header-link {
    color: #1a73e8; /* Azul para enlaces */
    text-decoration: none;
}

.header-link:hover {
    text-decoration: underline; /* Subrayado en hover */
}

.header-divider {
    display: none; /* Ocultamos el separador en mobile */
}

.header-description {
    margin-top: 1rem;
    text-align: justify;
    color: #6b7280; /* Gray-500 */
}

.header-description p {
    margin-top: 1rem;
    text-align: justify;
}

@media (min-width: 640px) {
    .header-links {
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .header-divider {
        display: inline;
    }

    .header-description {
        text-align: left;
    }
}
